body{
    padding:0;
    margin:0px;
    display:flex;
    justify-content: center;
}
main{

    position: absolute;
    width: 90%;
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
h1{
    color: #57aef1;

}
h2{
    color: #59adee;
}
a{  

    font-style: none;
    margin:2em;
    color: darkseagreen;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Play', sans-serif;
}
canvas{
    position: fixed;
    top:0;
    left:0;
    
}
.navList{
    
    text-align: center;
}

.topButton{
    margin: 1.5em;
    font-family: 'Play', sans-serif;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border:0.1em solid #59adee;
    border-radius: 3em;
    background: rgba(0, 0, 0, 0);
    color: #59adee;
}

button:hover{
    color:rgb(100, 238, 20);
    border:0.1em solid #5cee08;
    background:#59adee3b;

}
p{
    margin: 2em;
    color: #59adee;
}
.panel{
    display: flex;
    font-family: 'Play', sans-serif;
 
    display: flex;

}
.flying{
    display: flex;
    text-align: center;
}
.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4em;
    background-color: rgba(0, 0, 0, 0.795);
    border: 0.1em  #57aef1 solid;
}
.work{
    border:0.1em #57aef1 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4em;
    background-color: rgba(0, 0, 0, 0.795);

}
.skills{
    
    background-color: rgba(0, 0, 0, 0.795);
    color: #57aef1;
    border: 0.1em #57aef1 solid;
    border-radius: 2em;

}
.skillHeader{
    text-align: center;
}
.skillList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 4em;
    text-align: center;
}
li{
    margin:2em
}

.workSubHeader{
    text-align: center;
    color:#57aef1;
    margin-top:3em;
    font-size: xx-large;
}
.workLinkHolder{
    height: 500px;
    padding: 0;
    margin: 2em;
    display: flex;
}
@media all and (max-width:500px) {
    .workLinkHolder{
        height:200px}
}
.selfie{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 6em;
    margin:2em
}
.vids{
    padding: 0;
    margin:0;
    padding: 0;
    flex-grow: 1;

}
.upButton{
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 255, 0);
    color: #57aef1;
    border: none;
    font-size: x-large;
}
.leftButton{
    width: 2em;
    height: 2em;
    background-color: rgba(165, 42, 42, 0);
    color: #57aef1;
    border: none;
    font-size: x-large;
}
.rightButton{
    width: 2em;
    height: 2em;

    background-color: rgba(111, 211, 12, 0);
    color: #57aef1;
    border: none;
    font-size: x-large;
}
.bottomButton{
    width: 2em;
    height: 2em;
    font-size: x-large;
    background-color: rgba(184, 135, 11, 0);
    color: #57aef1;
    border: none;
}
.brakeButton{
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: x-large;
    color: #57aef1;
    border: none;
    background-color: rgba(184, 135, 11, 0);

}
.brakeButton:hover{
    color: darkred;
}
.innerHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
i{
    margin:0;
    padding:0;
}
.work-pics{
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}